table {
    background-color: blue;
}

td {
    background-color:white;
    height: 100px;
    width: 100px;
    display: inline-flex;
    border: 1px solid lightgrey;
    border-radius: 50%;

}

.button {
    display: inline-flex;
    height: 50px;
    width: 104.5px;
    background-color: lightblue;
    border: 1px solid lightgrey;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
