section {
    width: 714px;
    background-color: blue;
}

.case {
    background-color:white;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 50%;

}

.pion {
    width: 90px;
    height: 90px;
    color:red;
    border-radius: 50%;
    top: 0;
    left:0;
    position: absolute;
}

.button {
    height: 50px;
    width: 100px;
    background-color: yellow;
}
